body {
    background-color: #E3F6F5;
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    height: 96px;
    background-color: #E3F6F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    margin: 48px;
    display: flex;
    /* flex-flow: row; */
    /* justify-content: flex-start; */
    align-items: center;
}

.right {
    display: flex;
    /* flex-flow: row; */
    /* justify-content: flex-start; */
    align-items: center;
}

button.nav-button {
    border: none;
    margin-right: 24px;
    cursor: pointer;
    font-family: open-sans, sans-serif;
    font-size: medium;
    background-color: rgb(186, 232, 232);
    border-radius: 8px;
    width: 192px;
    height: 48px;
}

.right img {
    margin: 24px;
    height: 36px;
    mix-blend-mode: luminosity;
}

a {
    /* hover styles */
    cursor: pointer;
    color: #FFFFFF;
    /* click styles */
    transition: background-color 0.3s ease;
}

header a:hover {
    scale: 1.2;
}

.main {
    margin-left: 24px;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    margin: 12px;
    border: none;
    border-radius: 8px;
    background-color: #272343;
    padding: 24px;
    color: #FFFFFF;
    position: relative;
    width: 300px;
    height: 400px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.project img {
    width: 300px;
}

.project a{
    text-decoration: none;
}