
body {
    background-color: #E3F6F5;
    margin: 0;
    padding: 0;
}

header {
    height: 96px;
    background-color: #E3F6F5;
    /* background-size: auto; */
    display: flex;
    /* flex-flow: row; */
    justify-content: space-between;
    align-items: center;
}

.left {
    margin: 48px;
    display: flex;
    /* flex-flow: row; */
    /* justify-content: flex-start; */
    align-items: center;
}

.right {
    display: flex;
    /* flex-flow: row; */
    /* justify-content: flex-start; */
    align-items: center;
}

button.nav-button {
    border: none;
    margin-right: 24px;
    cursor: pointer;
    font-family: open-sans, sans-serif;
    font-size: medium;
    background-color: rgb(186, 232, 232);
    border-radius: 8px;
    width: 192px;
    height: 48px;
}

.right img {
    margin: 24px;
    height: 36px;
    mix-blend-mode: luminosity;
}

.main {
    /* height: 582px; */
    background-color: #E3F6F5;
    display: flex;
    /* flex-flow: row; */
    /* place-content: center; */
    align-items: center;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    /* align-content: center; */
    justify-content: space-around;
}

.content {
    margin-left: 36px;
    color: #272343; /* Added text color */
    font-family: "EB Garmond", sans-serif; /* Changed font */
}

.picture img {
    height: 400px;
    margin: 72px;
    box-shadow: 0px 0px 10px rgba(0.1529, 0.1373, 0.2627, 1);
}

a {
    /* hover styles */
    cursor: pointer;
    color: #272343;
    /* click styles */
    transition: background-color 0.3s ease;
}

a:hover {
    scale: 1.2;
}