body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
}

header {
    background-color: #C6EBC5;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left, .right {
    display: flex;
    align-items: center;
    padding: 20px;
}

button.nav-button {
    border: none;
    margin-right: 24px;
    cursor: pointer;
    font-size: medium;
    font-size: 14px;
    background-color: #f0f0f0;
    color: darkgreen;
    border-radius: 10px;
    padding: 10px;
}

.right img {
    margin: 0 20px;
    height: 36px;
    filter: grayscale(100%);
}

.About {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.content {
    max-width: 600px;
}

.picture img {
    margin-top: 36px;
    height: 400px;
    box-shadow: 0px 0px 10px #272343;
}

a {
    text-decoration: none;
    color: inherit;
}

header a:hover {
    transform: scale(1.1);
}